* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.contenedor-principal {
    width: 100%;
    height: 100vh;                   
    background-image: url("../assets/fondo.png");
    /* background: linear-gradient(135deg, #000000, #022002); */
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow: hidden;  
    opacity: 4;   
}
.contenedor-principal .titulo-principal {
    font-size: 14.7rem;
    margin-top: 1rem;
    text-align: center;
    /* color: rgb(178, 173, 173); */
    color: green;
    letter-spacing: 0.6rem;
    box-shadow: 0 0.6rem 0.4rem rgba(172, 255, 47, 0.28);
    margin-bottom: 3rem;
}
.contenedor-principal .nav {       
  padding: 18px 40px; 
  margin-bottom: 4.5rem;      
}

.contenedor-principal .nav ul {
  list-style: none;
  display: flex; 
  justify-content: center;
  align-items: center;            
  gap: 45px;
}

.contenedor-principal .nav a {
  text-decoration: none;
  /* color: green; */
  color: rgb(178, 173, 173);
  font-weight: 500;
  letter-spacing: 2px;       
  transition: 0.3s ease;
  font-size: 5rem;
  border-bottom: 0.8px solid green;
  box-shadow: 0 6px 36px rgba(153, 205, 50, 0.751);
}

.contenedor-principal .nav a:hover {
    color: green; 
    border: 0.5rem solid green; 
    padding: 0.7rem;
    border-radius: 0.7rem; 
    font-size: 5.3rem;  
    transition: 1s;
}

.contenedor-contenido {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5rem;
}

.contenido-izquierdo {
    width: 70%;
    margin-top: 1rem;
}
.contenido-izquierdo .titulo-izquierdo {
    text-align: center;
    /* color: green; */
    color: rgb(189, 185, 185);
    font-size: 9rem;
    margin-top: 4rem;
    font-size: 4.5rem;
    
}
.contenido-izquierdo p {
    margin: 6.7rem 1rem 9rem 9rem; 
    text-align: justify;
    font-size: 2.5rem;
    /* color: green; */
    color: rgb(178, 173, 173);
    letter-spacing: 0.1rem;
}
/* .contenido-izquierdo a {
    text-decoration: none;
    list-style: none;
    color: rgb(178, 173, 173);
} */
.contenido-derecho {
    width: 30%;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    margin: 0 auto; 
    margin-top: 1rem;
}
.contenido-derecho img {
    max-width: 100%;        
    width: 350px;
    margin-bottom: 6rem;
    border: 1px solid rgba(0, 128, 0, 0.143);
    box-shadow: 0 2px 56px yellowgreen;
    border-radius: 7px;
    background-color: #080908a0;
    transition: transform 2s ease;
    /* filter: drop-shadow(0 1px 11px yellowgreen); */
}
.contenido-derecho img:hover {
    /* width: 410px;
    transition: 2s ease;*/
    background-color: #000; 
    transform: scale(1.3);
}
