* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.contenedor-principal {
    width: 100%;
    height: 100vh;                   
    background-image: url("../assets/fondo.JPG");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow: hidden;  
    opacity: 4;   
}
.contenedor-principal .titulo-principal {
    font-size: 9.3rem;
    margin-top: 13rem;
    text-align: center;
    color: greenyellow;
    letter-spacing: 0.6rem;
    box-shadow: 0 0.6rem 0.4rem rgba(172, 255, 47, 0.28);
    margin-bottom: 3rem;
}
.contenedor-principal .nav {       
  padding: 18px 40px; 
  margin-bottom: 4.5rem;       
}

.contenedor-principal .nav ul {
  list-style: none;
  display: flex; 
  justify-content: center;
  align-items: center;            
  gap: 30px; 
}

.contenedor-principal .nav a {
  text-decoration: none;
  color: green;
  font-weight: 500;
  letter-spacing: 2px;       
  transition: 0.3s ease;
  font-size: 5rem;
}

.contenedor-principal .nav a:hover {
    color: greenyellow; 
    border: 0.5rem solid greenyellow; 
    padding: 0.7rem;
    border-radius: 0.7rem; 
    font-size: 5.3rem;  
    transition: 1s;
}

.contenedor-contenido {
    width: 100%;
    height: auto;
    display: flex;
    box-shadow: 0 12px 26px rgb(153, 205, 50);
}

.contenido-izquierdo {
    width: 70%;
    margin-top: 7rem;
}
.contenido-izquierdo .titulo-izquierdo {
    text-align: center;
    color: green;
    font-size: 9rem;
    margin-top: 3rem;
}
.contenido-izquierdo p {
    margin: 2rem 6rem;
    text-align: justify;
    font-size: 2.5rem;
    color: green;
}
.contenido-derecho {
    width: 30%;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    margin: 0 auto; 
    margin-top: 7rem;
}
.contenido-derecho img {
    max-width: 100%;        
    width: 250px;
    margin-bottom: 11rem;
    border: 1px solid rgba(0, 128, 0, 0.143);
    box-shadow: 0 12px 20px yellowgreen;
    border-radius: 7px;
}
.contenido-derecho img:hover {
    width: 300px;
    transition: 2s;
    margin-bottom: 2rem;
}
