* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;                   
    background-image: url("../assets/fondo.JPG");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow: hidden;  
    opacity: 4;   
}