* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: auto;
    margin: 0;                
    background-image: url("../assets/fondo.png");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow-x: hidden;
    opacity: 1;
    padding-top: 1rem;
}
.nav {  
    width: 100%;
    position: fixed;     
    padding: 18px 40px; 
    margin-bottom: 4.5rem;      
}

.nav ul {
    width: 100%;
  list-style: none;
  display: flex; 
  justify-content: center;
  align-items: center;            
  gap: 23px;
}

.nav a {
  text-decoration: none;
  /* color: green; */
  color: rgb(178, 173, 173);
  font-weight: 100;
  letter-spacing: 2px;       
  transition: 0.3s ease;
  font-size: 2rem;
  border-bottom: 0.8px solid green;
  box-shadow: 0 6px 36px rgba(153, 205, 50, 0.751);
}

.nav a:hover {
    color: green; 
    border: 0.5rem solid rgba(0, 128, 0, 0.58); 
    padding: 0.3rem;
    border-radius: 0.7rem; 
    font-size: 2.3rem;  
    transition: 1s ease;
}

/* ----------------------------------------------------------------------- */

.contenedor-capitulo-dos {
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    margin-top: 7.7rem;
}
.contenedor-izquierdo_capitulo2 {
    width: 50%;
    /* background-color: #9e7272; */
}
.contenedor-izquierdo_capitulo2 h1 {
    font-size: 3.2rem;
    color: green;
    text-align: center;
    background-color: #00000090;
    width: 90%;
    margin: 0 auto;
}
.contenedor-izquierdo_capitulo2 p {
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(178, 173, 173);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.contenedor-izquierdo_capitulo2 h2 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    color: green;
    background-color: #00000090;
}
.lista-info {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: rgb(178, 173, 173);
    margin-left: 15rem;
}
.lista-info li {
    transition: 0.3s ease;
    cursor: pointer;
}

.lista-info li:hover {
    color: green;
    transform: scale(1.05); 
    text-shadow: 0 0 10px green;
}
.contenedor-izquierdo_capitulo2 img {
    width: 380px;
    display: block;         
    margin: 0 auto 6rem;    
    border-radius: 7px;
    /* background-color: #080908a0; */
    transition: transform 2s ease;
}
.contenedor-izquierdo_capitulo2 img:hover {
    
    transform: scale(1.5);
}








.contenedor-derecho_capitulo2 {
    width: 50%;
    background-color: green;
}